//13.126.27.174:8081/repository/nodejs-repo/:username=admin
//13.126.27.174:8081/repository/nodejs-repo/:_password=admin123
//13.126.27.174:8081/repository/nodejs-repo/:email=abc@gmail.com
//13.126.27.174:8081/repository/nodejs-repo/:_authToken=YWRtaW46YWRtaW4xMjM=
//13.126.27.174:8081/repository/nodejs-repo/:always-auth=true
